.Chat
  .ChatHeader
    .ChatHeader__group
      .ChatHeader__groupName
        = @group.name
      %ul.ChatHeader__memberList
        Member:
        - @group.users.each do |user|
          %li.ChatHeader__member
            = user.name
    = link_to edit_group_path(@group.id), class: "ChatHeader__editButton" do
      Edit
  .MessageList
    = render @messages
    
  .ChatFooter
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('fas', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'HiddenFile'
      = f.submit 'Send', class: 'Form__submitBtn'