.SideBar
  .SideHeader
    .SideHeader__topItems
      .SideHeader__userName
        なまえ
      %ul.SideHeader__icons
        %li.SideHeader__icon
          = link_to '#' do
            = icon('far', 'edit')
        %li.SideHeader__icon
          = link_to '#' do
            = icon('fas', 'cog')

  .GroupList
    .Group
      = link_to '#' do
        .Group__name
          Techcamp1
        .Group__message
          まだメッセージはありません
    
    .Group
      = link_to '#' do
        .Group__name
          Techcamp2
        .Group__message
          まだメッセージはありません