.SideBar
  .SideHeader
    .SideHeader__topItems
      %h3.SideHeader__userName
        = current_user.name
      %ul.SideHeader__icons
        %li.SideHeader__icon
          = link_to new_group_path do
            = icon('far', 'edit')
        %li.SideHeader__icon
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')

  .GroupList
    - current_user.groups.each do |group|
      .Group
        = link_to group_messages_path(group.id) do
          .Group__name
            = group.name
          .Group__message
            = group.show_last_message